<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Solution</display-name>
	<servlet>
		<description>
		</description>
		<display-name>hello</display-name>
		<servlet-name>hello</servlet-name>
		<servlet-class>hello</servlet-class>
	</servlet>
	<context-param> 
      <description>Location to store uploaded file</description> 
      <param-name>file-upload</param-name> 
      <param-value>
         d:\
      </param-value> 
   </context-param>
	<servlet>
		<description>
		</description>
		<display-name>SiteController</display-name>
		<servlet-name>SiteController</servlet-name>
		<servlet-class>com.solution.servlets.SiteController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AuthticationServlet</display-name>
		<servlet-name>AuthticationServlet</servlet-name>
		<servlet-class>com.solution.servlets.AuthticationServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ManageItemServlet</display-name>
		<servlet-name>ManageItemServlet</servlet-name>
		<servlet-class>com.solution.servlets.ManageItemServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BuyItem</display-name>
		<servlet-name>BuyItem</servlet-name>
		<servlet-class>com.solution.servlets.BuyItem</servlet-class>
	</servlet>
	<context-param>
		<param-name>log4j-config-location</param-name>
		<param-value>WEB-INF/log4j.properties</param-value>
	</context-param>
	<servlet>
		<description>
		</description>
		<display-name>Uploader</display-name>
		<servlet-name>Uploader</servlet-name>
		<servlet-class>Demo.Uploader</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileUploadServlet</display-name>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>Demo.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.solution.servlets.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SiteController</servlet-name>
		<url-pattern>/SiteController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthticationServlet</servlet-name>
		<url-pattern>/AuthticationServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManageItemServlet</servlet-name>
		<url-pattern>/ManageItemServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyItem</servlet-name>
		<url-pattern>/BuyItem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Uploader</servlet-name>
		<url-pattern>/Uploader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/FileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
